<!DOCTYPE html>
<html>
<head>
	<title>Banking System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">TSF</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/home">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               	<!-- <li><a href="/logout">Logout</a></li> -->
            </ul>
          </div>
      </div>
  </nav>

  <div class="container">
    <% if (error && error.length > 0) { -%>
      <div class="alert alert-danger" role="alert">
        <%=error%>
      </div>
    <% } -%>
    <% if (success && success.length > 0) { -%>
      <div class="alert alert-success" role="alert">
        <%=success%>
      </div>
    <% } -%>      
  </div>