/*#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 50vh;
}

#landing-header h1 {
  /*color: #fff;*/
/*}*/
/*
.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}*/
/*
.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  opacity: 1;
  /*animation: imageAnimation 50s linear infinite; */
  /*background-image: url(https://images.unsplash.com/photo-1589362281138-e3f7ebe47f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)*/
/*}*/
.splash{
  position:fixed;
  top: 0;
  left:0;
  width: 100%;
  height:100vh;
  z-index: 200;
  color: black;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1589362281138-e3f7ebe47f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 40vh;
  /*background-color: black*/
}

@keyframes fadeIn{
  to{
    opacity:1;
  }
}

.fadein{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
.splash.display-none{
  position:fixed;
  opacity: 0;
  top: 0;
  left:0;
  width: 100%;
  height:100vh;
  z-index: -200;
  color: black;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1589362281138-e3f7ebe47f1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding-top: 40vh;
  transition: all 0.5s;
  /*background-color: black*/
}